* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* stick nav start */
body {
    font-family: 'Open Sans', sans-serif;
    color: #e1dcdc;
    background-color:rgb(199, 193, 193);
  }
  
  
  .nav {
    position: fixed;
    background-color: #e7e2e2;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 3;
  }
  .nav .containerbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    transition: all 0.3s ease-in-out;
  }
  
  
  .nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }
  
  .nav a {
    color: rgb(255, 255, 255)454;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav.active {
    background-color: #71ea75;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .nav.active a {
    color: #000;
  }
  
  .nav.active .container {
    padding: 10px 0;
  }
  
  .nav a.current,
  .nav a:hover {
    color:rgb(79, 81, 79);
    font-weight: bold;
  }
  
  .nav.active a.current, .nav.active a:hover {
    color: #8e938e;
  }

/*The message viewing Udemy*/
.TopPanel {
  position: relative;
  top: 39px;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}

#textMessage{
  text-align: center;
}


.arts {
  background-color: rgb(212, 206, 212, 0.5);
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  height: 100vh;
  margin: 45px 5%; 
  flex-wrap: wrap; 
}

/* the flex box that holds the images */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  margin: 10px;
  box-sizing: border-box;
  position: relative;
  background-color: #f2f2f2; 
  padding: 15px; 
}

.art-image {
  width: 250px; 
  position: relative; 

}

.flex-bottom {
  margin-top: auto;
}

.image-name {
  position: absolute;
  bottom: 30px;
  right: 70px;
  width: 250px;
  padding: 5px;
  background-color: rgba(157, 152, 152, 0.5);
  color: #fff;
  z-index: 2;
}

.submit-button {
  width: 250px; 
  padding: 8px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}






button:focus {
  outline: none;
}

button .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-100%, -100%) scale(2);
  animation: scale 0.8s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-10%, -50%) scale(3);
    opacity: 0;
  }
}